@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}


@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #000;
    --secondary: #051C1B;
    --tertiary: #0A2928;
    --fourty: #762626;

    --title: #051C1B;
    --paragraph: #fff9;
    --radius: 0.5rem;
    --border-color: #141414;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) rgb(0, 0, 0);
  scrollbar-gutter: stable;
}

#tsparticles {
  width: 100%;
  height: 100%;
}