@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}


@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #982929;
    --secondary: #051C1B;
    --tertiary: #0A2928;
    --fourty: #762626;

    --title: #051C1B;
    --paragraph: #7a7a7a;
    --radius: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

#tsparticles {
  width: 100%;
  height: 100%;
}